.box-image div {
    border-radius: 5px;
    overflow: hidden;
}

.list-proj li {
    transition: all .5s ease;
}

@media (max-width: 639px) {
    .uiux, .wd {
        margin-top: 6rem;
        margin-bottom: 6rem;
    }
}
