/* Nav style */

.navbar {
    background: linear-gradient(to bottom, black, transparent);
}

.navbar ul li {
    cursor: pointer;
}

.navbar ul li:hover {
    color: #E01515;
    transition: all .5s ease;
}

.navaniIn {
    transform: translateY(0);
    transition: all .6s ease;
}

.navaniOut {
   transform: translateY(-85px);
   transition: all 1s ease;
}

/* mobile nav */

.mobnav {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}

.mobnav ul li {
    width: fit-content;
}

.burger-nav span {
    height: 3px;
    background-color: #f1dada;
    border-radius: 10px;
    transition: all .2s ease;
}

.burger-nav.x span:nth-child(1) {
    transform: rotate(-45deg) translate(-6px, 8px);
    transition: all .2s ease;
}

.burger-nav.x span:nth-child(2) {
    opacity: 0;
     transition: all .2s ease;
}

.burger-nav.x span:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -8px);
    transition: all .2s ease;
    width: 35px;
}




.x-shape span:nth-child(3) {
    transform: rotate(45deg) translate(-8px, -9px);
     transition: all .2s ease;
 }
 
 .x-shape span:nth-child(2) {
     opacity: 0;
     transition: all .2s ease;
 }
 
 .x-shape span:nth-child(3) {
     transform: rotate(45deg) translate(-8px, -9px);
     transition: all .2s ease;
 }